@import '../../../../scss/base/reset';

.dashboard {
    padding: 20px;

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;

        &-row {
            display: flex;
            justify-content: flex-end;
            height: 100px;
            background-color: $color-5;
        }
    }
}
