.dashboard
    .dashboard__content
        ng-container('*appRange'='let number of 20')
            .dashboard__content-row
                app-dropdown-menu('#menu'='dropdownMenuComponent')
                    ul.dropdown-menu__list
                        li.dropdown-menu__list-item
                            mat-icon edit
                            span View Profile
                        li.dropdown-menu__list-item
                            mat-icon settings
                            span Account Settings
                        li.dropdown-menu__list-item
                            mat-icon exit_to_app
                            span Sign Out

                button(mat-icon-button '[appDropdownMenu]'='menu')
                    mat-icon more_horiz
