.text-input__container.animated('[controlStatus]'='injector')
    .text-input__icon(
        '*ngIf'='!!icon'
    )
        fa('[name]'='icon')

    input.text-input(
        '[ngClass]'='{"with-icon": !!icon}'
        '[type]'='type === "password" ? passwordType : (type || "text")'
        '[id]'='id'
        '[placeholder]'='placeholder'
        '[maxlength]'='maxLength'
        '[(ngModel)]'='value'
        '(ngModelChange)'='onChange(value)'
        '(blur)'='onBlur($event)'
    )

    ng-container('*ngIf'='id === "password"')
        .text-input__password-visibility-toggle('(click)'='onTogglePasswordVisibility($event)')
            fa('[name]'='passwordType === "password" ? "eye" : "eye-slash"')
